.featured-lowdown {
    display:flex;
    max-width:1440px;
    margin:0 auto;
}

.featured-lowdown-inner-wrapper {
    display:flex;
    flex-direction:column;
    width:100%;
    padding:2rem 1.5rem 2rem;
}

.featured-lowdown-header {
    margin-bottom:2rem;
}

.featured-lowdown-header-text {
    font-size:2.8rem;
    line-height:90%;
    letter-spacing:-0.2rem;
}

@media screen and (min-width:992px) {
    .featured-lowdown-inner-wrapper {
        padding:2rem 2rem 3.5rem;
    }
    .featured-lowdown-header {
        text-align:center;
        margin-bottom:2.4rem;
    }
    .featured-lowdown-header-text {
        font-size:3.2rem;
    }
}

@media screen and (min-width:1120px) {
    .featured-lowdown-header-text {
        font-size:3.6rem;
    }
}

@media screen and (min-width:1400px) {
    .featured-lowdown-header-text {
        font-size:4rem;
    }
}